In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from time import sleep
from random import randint
import re

In [ ]:
stafflink=[]
stafflinks = []
names = []
area = []
links= []

In [ ]:
page = requests.get("https://www.sunderland.ac.uk/about/staff/computing/")
soup = BeautifulSoup(page.text, 'html.parser')
for main in soup.find('section',class_='staff_results').find_all('li'):
    try:
        slist = main.a['href']
    except Exception as e:
        slist = None
    stafflinks.append(slist)
    stafflink = list(filter(None,stafflinks))

In [ ]:
for ppage in stafflink:
    ppages = requests.get(str(ppage))
    sp = BeautifulSoup(ppages.text, 'html.parser')
    try:
        sname=sp.find('div', class_='page--title').h1.text
    except Exception as e:
        sname = 'None'
    names.append(sname)
    
    try:
        sarea= sp.find_all(attrs={"data-smile-tab": "2"})[0].p.text
    except Exception as e:
        sarea = 'None'
    area.append(sarea)
    
    slink = (str(ppage))
    links.append(slink)

In [ ]:
uni1 = pd.DataFrame({
'title': names,
'link':links,
'summary': area
})

In [ ]:
soup

In [ ]:
slink

In [ ]:
name = [] 
phone = []
links = []
emails = []
area = []
pages = ["computing"]
for page in pages:
    page = requests.get("https://www.imperial.ac.uk/" + str(page) + "/people/academic-staff/")
    soup = BeautifulSoup(page.text, 'html.parser')
    title = soup.find('div', class_='module')
    for staffpages in title.find_all('li'):
        try:
            nn = staffpages.h3.text
        except Exception as e:
            nn = None
        name.append(nn)
        names = staffpages.find('div', class_='name-wrapper')
        try:
            num = names.p.span.text
        except Exception as e:
            num = 'no'
        phone.append(num)
        try:
            link = names.a['href']
        except Exception as e:
            link = None
        links.append(link)
        try:
            email = list.p.a['href'].split(':')[1]
        except Exception as e:
            email = None
        emails.append(email)  
        des = staffpages.find('div', class_='dept-wrapper')
        try:
            desc = des.p.span.text
        except Exception as e:
            desc = 'u'
        area.append(desc)
uni2 = pd.DataFrame({
'title': name,
'link':links,
'summary': area
})

In [ ]:
soup

In [ ]:
links

In [ ]:
stafflink=[]
names = []
area = []
links= []
page = requests.get("http://www.chem.ed.ac.uk/staff/academic-staff")
soup = BeautifulSoup(page.text, 'html.parser')
for main in soup.find_all('td', class_='views-field views-field-title'):
    try:
        staffpage = main.a['href']
    except Exception as e:
        staffpage = 'nah'
    stafflink.append(staffpage)
for ppage in stafflink:
    ppages = requests.get("http://www.chem.ed.ac.uk" + str(ppage))
    soupp = BeautifulSoup(ppages.text, 'html.parser')
    try:
        aa= soupp.find_all('div', class_='pane-content')[5].text 
    except Exception as e:
        aa = 'pass'    
    area.append(aa)
    name = soupp.title.text.split('|')[0]
    names.append(name)
    link = ("http://www.chem.ed.ac.uk" + str(ppage)) 
    links.append(link)
uni3= pd.DataFrame({
'title': names,
'link':links,
'summary': area
})

In [ ]:
names

In [ ]:
uni =[uni1,uni2, uni3]
resii = pd.concat(uni)
resii['ID'] = [x for x in range(1, len(resii.values)+1)]
resii.to_csv('univerity1.csv')

In [ ]:
uni

In [9]:
meta_data = pd.read_csv("univerity.csv")
meta_data.head()

,Unnamed: 0,title,link,summary,ID
0,0,Andrew Smith,https://www.sunderland.ac.uk/about/staff/compu...,None,1
1,1,Professor Yonghong Peng,https://www.sunderland.ac.uk/about/staff/compu...,None,2
2,2,Elizabeth A. Gandy,https://www.sunderland.ac.uk/about/staff/compu...,None,3
3,3,Chris Knowles,https://www.sunderland.ac.uk/about/staff/compu...,"\nKnowles, Christopher, Kok, Dirk, Baglee, Dav...",4
4,4,Stephen Swales,https://www.sunderland.ac.uk/about/staff/compu...,None,5

In [11]:
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer 
import string

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\presh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\presh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\presh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\presh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
covus = meta_data.loc[0,:].copy()

In [14]:
covus

Unnamed: 0                                                    0
title                                              Andrew Smith
link          https://www.sunderland.ac.uk/about/staff/compu...
summary                                                    None
ID                                                            1
Name: 0, dtype: object

In [15]:
def process_string(text):
  text = text.lower() #to lowercase
  text = text.translate(str.maketrans('', '', string.punctuation)) #strip punctuation
  return text

In [17]:
process_string(covus.title)

' andrew smith'

In [18]:
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

In [19]:
print("Orange: {}\n is: {}\n lovely: {}" 
      .format(get_wordnet_pos("Orange"),
         get_wordnet_pos("is"), 
        get_wordnet_pos("lovely")))

Orange: n
 is: v
 lovely: r

In [20]:
stop = stopwords.words('english')

In [21]:
lem = WordNetLemmatizer()

def stop_lemmatize(doc):
    tokens = nltk.word_tokenize(doc)
    tmp = ""
    for w in tokens:
        if w not in stop:
            tmp += lem.lemmatize(w, get_wordnet_pos(w)) + " "
    return tmp

In [23]:
stop_lemmatize(doc = covus.title)

'Andrew Smith '

In [24]:
def process_string(text):
  text = text.lower() #to lowercase
  text = text.translate(str.maketrans('', '', string.punctuation)) #strip punctuation
  text = stop_lemmatize(text)
  return text

In [25]:
%time process_string(covus.title)

Wall time: 3 ms

'andrew smith '

In [26]:
meta_processed = meta_data.copy()

In [27]:
def transform_df(df):
  df['title'] = df['title'].apply(process_string)
  df['summary'] = df['summary'].apply(process_string)

In [28]:
%time transform_df(meta_processed)

Wall time: 1.96 s

In [29]:
meta_processed.head(5)

,Unnamed: 0,title,link,summary,ID
0,0,andrew smith,https://www.sunderland.ac.uk/about/staff/compu...,none,1
1,1,professor yonghong peng,https://www.sunderland.ac.uk/about/staff/compu...,none,2
2,2,elizabeth gandy,https://www.sunderland.ac.uk/about/staff/compu...,none,3
3,3,chris knowles,https://www.sunderland.ac.uk/about/staff/compu...,knowles christopher kok dirk baglee david morr...,4
4,4,stephen swale,https://www.sunderland.ac.uk/about/staff/compu...,none,5

In [30]:
meta_processed['text'] = meta_processed['title'] + " " + meta_processed['summary']
drop_cols = ['title', 'summary', 'link']
meta_processed = meta_processed.drop(drop_cols, axis=1)

In [31]:
meta_processed

     Unnamed: 0   ID                                               text
0             0    1                                andrew smith  none
1             1    2                     professor yonghong peng  none
2             2    3                             elizabeth gandy  none
3             3    4  chris knowles  knowles christopher kok dirk ba...
4             4    5                               stephen swale  none
..          ...  ...                                                ...
150          49  151  dr uwe schneider  ‘ greensustainable ’ chemist...
151          50  152  professor michael seery  chemistry education t...
152          51  153  dr rafal szabla  computational theoretical che...
153          52  154  dr stephen p thomas  catalysis organometallic ...
154          53  155  professor dusan uhrin  nmr spectroscopy mass s...

[155 rows x 3 columns]

In [32]:
def transform_df(df):
  df = df
  df['title'] = df['title'].apply(process_string)
  df['summary'] = df['summary'].apply(process_string)
  df['text'] = df['title'] + " " + df['summary']
  drop_cols = ['title', 'summary', 'link']
  df = df.drop(drop_cols, axis=1)
  return df

In [38]:
covus = meta_processed.loc[40,:].copy()
print(covus)
index_test = {}

Unnamed: 0                                  10
ID                                          41
text          dr yvesalexandre de montjoye  u
Name: 40, dtype: object

In [39]:
words = covus.text.split()
ID = covus.ID

In [40]:
word = words[0]
sample = {word: [ID]}
print(sample)

{'dr': [41]}

In [41]:
for word in words:
  if word in index_test.keys():
    if ID not in index_test[word]:
      index_test[word].append(ID)
  else:
    index_test[word] = [ID]

In [42]:
print(index_test)

{'dr': [41], 'yvesalexandre': [41], 'de': [41], 'montjoye': [41], 'u': [41]}

In [43]:
def index_it(covus, index):
  words = covus.text.split()
  ID = covus.ID
  for word in words:
    if word in index.keys():
      if ID not in index[word]:
        index[word].append(ID)
    else:
      index[word] = [ID]
  return index

In [44]:
ind = index_it(covus=covus, index= {})
print(ind)

{'dr': [41], 'yvesalexandre': [41], 'de': [41], 'montjoye': [41], 'u': [41]}

In [45]:
def index_all(df, index):
  for i in range(len(df)):
    entry = df.loc[i,:]
    index = index_it(covus = covus, index = index)
  return index

In [47]:
index = index_all(meta_processed, index = {})
len(index)

5

In [48]:
def build_index(df, index):
    to_add = transform_df(df)
    index = index_all(df = to_add, index = index)
    return index

In [49]:
idx = build_index(df = meta_data, index = {})

In [50]:
print(idx)

{'dr': [41], 'yvesalexandre': [41], 'de': [41], 'montjoye': [41], 'u': [41]}

In [51]:
import gensim
import numpy as np

In [53]:
word2vec = gensim.models.KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)

In [55]:
print(words)

['dr', 'yvesalexandre', 'de', 'montjoye', 'u']

In [56]:
def average_vectors(word2vec_model, doc):
    # remove out-of-vocabulary words
    doc = [word for word in doc if word in word2vec_model.vocab]
    if len(doc) == 0:
      return np.zeros(300)
    else:
      return np.mean(word2vec_model[doc], axis=0)

In [57]:
%time test_vec = average_vectors(word2vec, words)

Wall time: 11.8 s
Parser   : 603 ms

In [58]:
def prepare_ranking(df):
  corpus = df[['ID', 'text']].copy()
  doc_vecs = {}
  for i in range(len(corpus)):
    row = corpus.loc[i,:]
    text = row.text.split()
    doc_vecs[row.ID]=average_vectors(word2vec, text)
  doc_vecs = pd.DataFrame.from_dict(data=doc_vecs, orient="index")
  doc_vecs['ID'] = doc_vecs.index
  return doc_vecs

In [59]:
doc_vecs = prepare_ranking(df=meta_data)

In [60]:
test = "formal method"

In [ ]:
doc_vecs

In [ ]:
print("User query: {}." .format(test))
test_norm = process_string(test)
print("Normalized query: {}." .format(test_norm))

In [ ]:
test_split = test_norm.split()

In [ ]:
def process_query(query):
  norm = process_string(query)
  return norm.split()

In [ ]:
retrieved = []
for word in test_split:
  if word in index.keys():
    retrieved.append(index[word])

In [ ]:
def lists_intersection(lists):
  intersect = list(set.intersection(*map(set, lists)))
  intersect.sort()
  return intersect

In [ ]:
result = lists_intersection(retrieved)
print(result)

In [ ]:
def search_googleish(query, index=idx):
  query_split = process_query(query)
  retrieved = []
  for word in query_split:
    if word in index.keys():
      retrieved.append(index[word])
  if len(retrieved)>0:
    result = lists_intersection(retrieved)
  else:
      result = [0]
  return result

In [ ]:
result_IDs = search_googleish("dr", index)
print(result_IDs)

In [ ]:
meta = meta_data.drop(['text'], axis=1).copy()
meta.head(5)

In [ ]:
def connect_id_df(retrieved_id, df):
    return df[df.ID.isin(retrieved_id)].reset_index(drop=True)

In [ ]:
result_meta = connect_id_df(result_IDs, meta)
result_meta.head(5)

In [ ]:
query_vec = average_vectors(word2vec, test_split)

In [ ]:
result_vecs = connect_id_df(result_IDs, doc_vecs)

In [ ]:
def cos_similarity(a, b):
  dot = np.dot(a, b)
  norma = np.linalg.norm(a)
  normb = np.linalg.norm(b)
  cos = dot / (norma * normb)
  return(cos)

In [ ]:
cos_sim = []
for i in range(len(result_vecs)):
  doc_vec = result_vecs.loc[i,:].drop(['ID'])
  cos_sim.append(cos_similarity(doc_vec, query_vec))
result_meta['rank'] = cos_sim

In [ ]:
result_meta.sort_values('rank', axis=0)

In [ ]:
def rank_results(query, results):
  query_norm = process_query(query)
  query_vec = average_vectors(word2vec, query_norm)
  result_vecs = connect_id_df(results.ID, doc_vecs)
  cos_sim = []
  for i in range(len(result_vecs)):
    doc_vec = result_vecs.loc[i,:].drop(['ID'])
    cos_sim.append(cos_similarity(doc_vec, query_vec))
  results['rank'] = cos_sim
  results = results.sort_values('rank', axis=0)
  return results

In [ ]:
final_result = rank_results("john lewis", result_meta)

In [ ]:
def print_results(result_df):
  for i in range(len(result_df)):
    res = result_df.loc[i, :]
    print(res.title)
    print(res.summary)
    if i == len(result_df):
        print(res.link)
    else:
        print("{}\n" .format(res.link))

In [ ]:
print_results(final_result)

In [ ]:
def search(query, dat=None):
  result = search_googleish(query)
  result = connect_id_df(result, meta)
  result = rank_results(query, result)

  if dat is not None:
    result = filter_date(dat, result)

  print_results(result)

In [ ]:
query = input("Search for:")
search(query)